
{% for key in sites.upstreams %}
	{% set upstream = sites.upstreams[key] %}

upstream {{key}} {
	{% for server in groups[upstream.group] %}
	server {{ server }}:{{upstream.backend_port}};
	{% endfor %}
}

{% endfor %}

server{
	{% for portKey in sites.ports %}
	{% set port=sites.ports[portKey] %}

	listen {{portKey}};

	{% for locationKey in port %}
	{% set location=port[locationKey] %}

	location {{location.location}} {
		proxy_pass http://{{location.upstream}}/;
	}

	{% endfor %}

	{% endfor %}
}